@import "tailwindcss";
@plugin "daisyui";

@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a, .green {
  text-decoration: none;
  transition: 0.4s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--vue-base);
}

@utility btn-vue {
  @apply bg-[var(--vue-base)] hover:bg-[var(--vue-compliment)] transition-colors duration-200;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(from var(--vue-base) h s l / 0.5);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
  }
}
